<h1>LOG IN HERE</h1>
<h2>check it</h2>
<form action="Add.php" method = "post">
	Name : <input type="text" name="Name"><br>
	Phone : <input type="text" name="Number"><br>
	<input type="submit" name="Submit" value="Submit">
</form>